{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": "off",
    "newline-before-return": "error"
  },
  "env": {
    "node": true
  }
}