{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "restParams": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": "off",
    "newline-before-return": "error"
  },
  "env": {
    "node": true,
    "browser": true
  }
}